@model AdminIndexVM
<article>
    <h1>Users from API Server</h1>
    <table class="striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
               <tr>
                   <td>@user.Id</td>
                   <td>@user.Username</td>
                   <td>@user.FirstName</td>
                   <td>@user.LastName</td>
                   <td>@user.Email</td>
                    <td>
                        <a asp-controller="admin" asp-action="EditUser" asp-route-id="${user.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M16 3L21 8L16 13L13 10L18 5L16 3ZM3 21V14.5L14.5 3H21V9.5L9.5 21H3Z"></path>
                            </svg></a>
                        <a asp-controller="admin" asp-action="DeleteUser" asp-route-id="${user.id}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 6H5H21M19 6L17.5 20H6.5L5 6H19ZM10 11V17M14 11V17"></path>
                            </svg></a>
                    </td>
               </tr>
            }
        </tbody>
    </table>
</article>
@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="/scripts/lib/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
